@model IEnumerable<DTO.SanPhamDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("TimKiem", "SanPham", FormMethod.Get)) // -- phần thay đổi
    {
    <p>
        Title: @Html.TextBox("Name") <input type="submit" value="Tìm kiếm theo tên" />
    </p>
    }

</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanPhamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPhamID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDanhMuc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SanPhamID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SanPhamID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SanPhamID })
                </td>
            </tr>
        }

    </table>
